div#DataTables_Table_0_info {
    display: none;
}

div#DataTables_Table_0_filter {
    display: block;
}

div.dataTables_filter {
    display: none;
}

div#DataTables_Table_0_paginate {
    display: none;
}

.dataTables_wrapper .dataTables_length {
    margin-top: 15px;
    margin-bottom: 15px;
}

span.logo img {
    max-height: 36px;
    width: auto;
}