.earnings span.symbol-label i {
    font-size: 20px;
    color: #00b2ff;
}


.headerCustom thead {
    background: #1c325e;
    color: #fff;
    font-weight: 700;
} 


:root .dataTablesHome .dtr-control:before, 
[data-bs-theme=light] .dataTablesHome .dtr-control:before {
    display: none !important;
}

#notiSystem img.imgNotificaciones {
    width: 150px;
    margin-bottom: 10px;
}

span#closeNoti i {
    font-size: 20px;
    cursor: pointer;
}


@media (min-width: 992px) {
    [data-kt-app-header-stacked=true] .app-header {
        height: var(--bs-app-header-height);
    }
}